streamlit
pandas
matplotlib
feedparser
requests
langchain-community>=0.2.0
langchain-huggingface
huggingface-hub
sentence-transformers      # MiniLM 임베딩
pypdf
faiss-cpu                  # GPU 없으면 cpu
tiktoken
